body {
    background-color: #f7f7f7; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conquistas {
    background: linear-gradient(135deg, #ED1C24 50%, #ffffff 50%); 
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.conquistas::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.conquistas h1 {
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.conquistas ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.conquistas ul li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-style: italic; 
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.conquistas .negrito {
    font-weight: bold; 
}
